/*
==========================================
 My Universe — To Pipo, From Mimo
 Main Stylesheet
 Version: 1.0.0
==========================================
*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Inter',sans-serif;
    background:#08111F;
    color:#ffffff;
    overflow-x:hidden;
}
